<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Ranking
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

    <ion-list>
        <ion-list-header>Corrida</ion-list-header>

        <div padding>
    <button ion-button icon-left block disabled="disabled" color="secondary">
        <ion-icon name="trophy"></ion-icon>
      Resultado Final
    </button>
  </div>


  

      <ion-list-header>Treino</ion-list-header>
      <ion-item>
          <ion-icon name='people' item-start></ion-icon>
          
          <h3>Fulano da Silva</h3>
          <p>Assessoria 1</p>
          <ion-note item-end>
          <small>32km/40min</small>
          </ion-note>
      </ion-item>
      <ion-item>
          <ion-icon name='people' item-start></ion-icon>
          Assessoria 2
          <p>Beltrano da Silva</p>
          <ion-note item-end>
              <small>32km/40min</small>
          </ion-note>
        </ion-item>
  </ion-list>
</ion-content>
