<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

            <button ion-button block icon-left color="primary" (click)="login()">
                <ion-icon name='facebook' item-start></ion-icon>
              Login with Facebook
            </button>
       
</ion-content>
