<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Mensagens</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <div class="messages {{(mensagem.uid == '1' ? 'other' : '')}}" *ngFor="let mensagem of mensagens | async">
        <div class="message" >
            <span>
              <b style="padding-bottom: 10px">{{mensagem.displayName}} </b>
              <br/>{{mensagem.texto}}
              <br/><small>{{mensagem.data | date: 'dd/MM HH:mm'}}</small>
            </span>
        </div> 
    </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input type="text" value="" placeholder="Digite sua mensagem aqui..." [(ngModel)]="mensagem.texto"></ion-input>
    <ion-buttons end>
      <button ion-button icon-right color="secondary" (click)="send(mensagem)">
          <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>