<ion-tabs color="secondary">
  <ion-tab [root]="tab1Root" tabTitle="Treino" tabIcon="walk"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Ranking" tabIcon="podium"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Mensagens" tabIcon="chatboxes"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Sobre" tabIcon="information-circle"></ion-tab>
</ion-tabs>
