<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons end>
            <button ion-button icon-left (click)="openTutorial()">
                <ion-icon name="help-buoy"></ion-icon>Ajuda
            </button>
        </ion-buttons>
        <ion-title>Sobre</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        
          <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label stacked>E-mail</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>

        </ion-list>
        <div padding>
            <button ion-button block color="primary">Vídeo Promocional</button>
            <button ion-button block color="danger">Sair</button>
          </div>

</ion-content>
