<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons end>
            <button ion-button icon-left (click)="iniciar()">
                <ion-icon name="play"></ion-icon>Iniciar
            </button>
        </ion-buttons>
        <ion-title>Treino</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

  <h2>Maps</h2>

  <p>Depois de parar, exibir um modal para indicar tempo, distância, velocidade e ranking.</p>

  <p>Neste mesmo modal, colocar um botão para compartilhar.</p>
  
</ion-content>
