<!--
  Generated template for the TutorialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Ajuda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-slides pager>
        
          <ion-slide style="background-color: green">
            <h2>Slide 1</h2>
          </ion-slide>
        
          <ion-slide style="background-color: blue">
            <h2>Slide 2</h2>
          </ion-slide>
        
          <ion-slide style="background-color: red">
            <h2>Slide 3</h2>
          </ion-slide>
        
        </ion-slides>

</ion-content>
